<div class="tile-wrapper">
  <% @all_tiles.reverse.each do |tile| %>
    <div class="tile">
      <div class="tile-header">
        <%= tile.user.user_name %>
      </div>
      <div class="tile-picture">
        <%= link_to (image_tag tile.picture.url(:medium)), tile_path(tile) %>
      </div>
      <div class="tile-footer">
        <div class="tile-description">
          <%= tile.description %>
        </div>
      </div>
    </div>
  <% end %>
</div>