<div class="tile-wrapper">
  <%= render 'show_tile' %>
</div>


<div class="footer text-center">
  <%= link_to 'Return', tiles_path %>
  <% if @tile.user.id == current_user.id %>
    <%= link_to 'Edit', edit_tile_path %>
  <% end %>
</div>

  